[Desktop Entry]
Type=Application
Terminal=true
Name=Andy Demo
Icon=utilities-terminal
Exec=gnome-terminal -e "bash -c '~/catkin_ws/src/Demos/kinect/launch/launch.sh;$SHELL'"
Categories=Application;
Name[en_US]=Kinect Demo
